@import "tailwindcss";

/* 2. Cargamos RainbowKit explícitamente */
/*@import '@rainbow-me/rainbowkit/styles.css';*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

[data-rk] .ju367v0 { /* Clase interna genérica del modal wrapper */
  background-color: white !important;
}

/* O usando variables de RainbowKit si están definidas */
:root {
  --rk-colors-modalBackground: #ffffff;
  --rk-colors-modalText: #1a202c;
}