@import "tailwindcss";

@theme {
  /* Paleta Mingles */
  --color-mingles-red: #FF4747;
  --color-mingles-red-hover: #D93838;
  --color-mingles-beige: #FFF8E7;
  --color-mingles-dark: #1A1A1A;
  --color-agave-green: #4A7C59;
  --color-agave-light: #A3C9A8;
  
  /* Fuentes (Asumiendo que cargarás alguna Google Font en layout) */
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;

  /* Animaciones Custom */
  --animate-float: float 6s ease-in-out infinite;
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}

/* Estilos Globales */
body {
  background-color: white;/*var(--color-mingles-beige);*/
  color: var(--color-mingles-dark);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

/* Utilidad para estilo "Gamer/Crypto" (Borde negro sólido y sombra dura) */
.btn-primary {
  @apply bg-mingles-red text-white px-6 py-3 rounded-xl font-bold border-2 border-mingles-dark shadow-[4px_4px_0px_0px_rgba(26,26,26,1)] hover:translate-y-[2px] hover:shadow-[2px_2px_0px_0px_rgba(26,26,26,1)] transition-all cursor-pointer inline-block;
}

.btn-secondary {
  @apply bg-white text-mingles-dark px-6 py-3 rounded-xl font-bold border-2 border-mingles-dark shadow-[4px_4px_0px_0px_rgba(26,26,26,1)] hover:translate-y-[2px] hover:shadow-[2px_2px_0px_0px_rgba(26,26,26,1)] transition-all cursor-pointer inline-block;
}

.card-panel {
  @apply bg-white border-2 border-mingles-dark rounded-2xl shadow-[6px_6px_0px_0px_rgba(74,124,89,0.3)];
}