.divabsolute {
    position: absolute;
    top: 0;
    left: 0;
  }

  .customimage {
    /*display: block;*/
    max-width: 100%;
    height: auto;
  }

  .customnft {
    /*display: grid;
    place-items: center;*/
    position: relative;
    margin-top: 30px;
  }

  .text {
    font-size: 1rem;
  }

  .backColor {
    background-color: #e15162;
    border-style: solid;
    border-color: black;
  }

  .marginBack {
    margin-bottom: -70px;
    background-color: aqua;
  }